*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.background{
    width: 100%;
    height: 100vh;
    background-image: url(haha8.jpg);
    background-size: cover;
    background-position: center;
}